body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;

}

/*******Header*********/
header {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    position: sticky;
    border: 1px solid transparent;
    max-width: 100%;
    top: 0;
    z-index: 1;

}

header img {
    max-width: 15%;
    width: 15%;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5em;
    margin: 0 2em;
}

header nav ul li img#logo {
    margin-right: 8em;
}

/********Contenido*********/

section {
    margin-left: 6em;
}

div {
    margin: 1em;
}

a:visited,
a {
    text-decoration: none;
    color: white;
}

#video {
    width: fit-content;
    margin-top: 12em;
    margin-bottom: 2em;
    margin-left: 21em;

}

#video img {
    border: 1px solid white;
}

div.contenido img.primera {
    width: 60%;
    margin-left: 19em;
    margin-bottom: 5em;
}

div.contenido img.izq {
    clear: both;
    width: 30%;
    margin: 3em 0 3em 5em;
}

div.contenido div.cont_izq {
    float: right;
    width: 40%;
    clear: both;
    max-width: 40%;
    margin-right: 7em;
    margin-top: 4em;
    font-family: Arial, Helvetica, sans-serif;

}

div.contenido div.cont_izq p {
    line-height: 2em;
    padding-top: 1em;
    text-align: center;
    max-width: 70%;
    width: 70%;
}

div.contenido img.der {
    clear: both;
    width: 30%;
    margin: 3em 0 3em 7em;
}


div.contenido div.cont_der {
    float: left;
    width: 40%;
    clear: both;
    max-width: 40%;
    margin-left: 10em;
    margin-top: 4em;
    font-family: Arial, Helvetica, sans-serif;

}

div.contenido div.cont_der p {
    padding-top: 1em;
    text-align: center;
    line-height: 2em;
    max-width: 70%;
    width: 70%;
}

.cada_empresa {
    text-align: center;
    display: inline;
    max-width: 20%;
    width: 20%;
    margin: 0;
    padding: 0;
}

.cada_empresa img {
    width: 13%;
    margin: 1em;
    max-width: 13%;
    padding: 1em;
}

.cada_empresa img:hover {
    width: 14%;
    max-width: 14%;

}

.cada_empresa a:hover {
    cursor: pointer;
}


h1 {
    margin-top: 3em;
    font-size: 2.2em;
    text-align: center;
}

/* tabla contenido */


section #tabla_contenido {
    display: flex;
    padding: 1em;

}

#tabla_contenido .seccion {
    text-align: center;
    max-width: 48%;
    width: 48%;
    margin: 1em;
}

hr {
    width: 50%;
}

#ventajas p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: .5em;
}

#ventajas h1 {
    margin-top: 1em;
    font-size: 3em;
}
#desventajas p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: .5em;
}

#desventajas h1 {
    margin-top: 1em;
    font-size: 3em;
}
#titul1{
    font-size: 3.1em;
}
#ejer2{
    margin-right: 10em;
}
/****** Boton flotante********/

.btn-flotante {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 18px 30px;
    position: fixed;
    background-image: url("../img/pngwing.com-removebg-preview.png");
    background-repeat: no-repeat;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    width: 2em;
    height: 2em;
}

.btn-flotante:hover {
    background-color: white;
    /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}
#test{
    border: 1px solid red;
}
/********Menu hamburguesa***********/
#menu2 {
    visibility: hidden;
    border-radius: 20px;
    padding: 18px 30px;
    position: fixed;
    top: 2em;
    left: 1em;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

#menu2 ul {
    display: none;
}

#menu2 input:checked~ul {
    display: block;
}

#menu2 input {
    display: none;
}

#menu2 label {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    background-color: rgba(244, 244, 244, 0.2);
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

#menu2 li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: .625em;
    list-style: none;
}

/* Estilo del boton cuando se pasa el mouse por encima*/
#menu2 label:hover {
    background: lightblue;
}

/* Estilo del boton cuando el menú está expandido*/
#menu2 input:checked~label {
    background: lightgrey;
}

#menu2 ul {
    margin-top: 0;
    padding: 0;
    width: 200px;

}

#menu2 li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
#menu2 li:hover {
    filter: brightness(110%);
}

@media (max-width: 1690.98px) {
    div {
        margin: 0;
        font-size: .8em;
    }

    header nav ul li img#logo {
        margin: 0;
    }

}



@media (max-width: 1199.98px) {

    nav,
    header {
        visibility: hidden;
    }

    #menu2 {
        visibility: visible;
    }

    header p {
        font-size: .2em;
    }

    div.contenido img.primera {
        width: 60%;
        margin-left: 4em;
        margin-bottom: 5em;
    }

    div {
        margin: 0;
        font-size: .8em;
    }

    .btn-flotante {
        visibility: hidden;
    }

    .slide {
        margin-left: 6em;
    }

    .slide-inner {

        height: calc(9em + 3em);
    }

    div.contenido div.cont_izq {
        float: none;
        max-width: 60%;
        margin-right: 0;
        margin-left: 9em;
        margin-bottom: 1em;

    }

    div.contenido img.izq {

        margin: 0;
        margin-left: 7em;
    }

    #twitter,
    #insta,
    #tiktok {
        margin-top: 0;
    }

    #video {
        margin-top: 5em;
        margin-left: 3em;
        width: fit-content;
    }

    #video img {
        width: 80%;
    }

    div.contenido img.der {

        margin: 0;
        margin-left: 7em;
        margin-top: 2em;
    }

    div.contenido div.cont_der {
        float: none;
        margin-left: 9em;
        margin-bottom: 4em;

    }

    .cada_empresa img:hover {
        width: none;
        max-width: 13%;
    }

    .cada_empresa img {
        margin: 0;
    }
}